<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/connexion.css">
    <title>Search | Connexion</title>
</head>
<body>
    <header>
        <a href="../../"><img src="../assets/images/logo.svg" alt="Search / jeux de rôle"></a>
        <a href="#"><input type="button" value="Connexion"></a>
        <a href="inscription.html"><input type="button" value="Inscription"></a>
    </header>
    <main>
    <h1>CONNEXION</h1>
        <ul>
            <p>Adresse e-mail</p>
            <input type="email" placeholder="email@site.com">
            <p>Mot de passe</p>
            <input type="password" placeholder=".............">
            <a href="#">mot de passe oublié ?</a>
            <div>
                <input type="checkbox">
                <p>Rester connecté</p>
            </div>
            <input type="button" value="Connexion">
        </ul>
    </main>
</body>
</html>