<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/inscription.css">
    <title>Search | Inscription</title>
</head>
<body>
    <header>
        <a href="../../"><img src="../assets/images/logo.svg" alt="Search / jeux de rôle"></a>
        <nav>
            <a href="connexion.html"><input class="btn" type="button" value="Connexion"></a>
            <a href="#"><input class="btn" type="button" value="Inscription"></a>
        </nav>
    </header>
    <main>
        <h1>INSCRIPTION</h1>
        <ul>
            <li>
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" placeholder="Utilisateur205">
            </li>
            <li>
                <label for="email">Adresse e-mail</label>
                <input type="email" id="email" placeholder="email@site.com">
            </li>
            <li>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" placeholder=".............">
            </li>
            <li>
                <label for="password-confirm">Confirmation mot de passe</label>
                <input type="password" id="password-confirm" placeholder=".............">
            </li>
            <li>
                <section>
                    <input type="checkbox" id="terms">
                    <label for="terms">J’accepte les conditions d’utilisation</label>
                </section>
            </li>
            <li>
                <input type="submit" id="inscription" class="btn" value="Inscription">
            </li>
        </ul>
    </main>
    <script src="../scripts/inscription.js"></script>
</body>
</html>