<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/inscription.css">
    <title>Search | Inscription</title>
</head>
<body>
    <header>
        <a href="../../"><img src="../assets/images/logo.svg" alt="Search / jeux de rôle"></a>
        <a href="connexion.html"><input class="btn" type="button" value="Connexion"></a>
        <a href="#"><input class="btn" type="button" value="Inscription"></a>
    </header>
    <main>
        <h1>INSCRIPTION</h1>
        <ul>
            <p>Nom d'utilisateur</p>
            <input type="text" placeholder="Utilisateur205">
            <p>Adresse e-mail</p>
            <input type="email" placeholder="email@site.com">
            <p>Mot de passe</p>
            <input type="password" placeholder=".............">
            <p>Confirmation mot de passe</p>
            <input type="password" placeholder=".............">
            <section>
                <input type="checkbox"> 
                <p>J’accepte les conditions d’utilisation</p>
            </section>
            <a href="profil.html"><input class="btn" type="button" value="Inscription"></a>
        </ul>
    </main>
</body>
</html>