<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6daef4aa49.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" href="static/styles/profil.css">
    <title>Search | Accueil</title>
</head>
<body>
    <header>
        <a href="../../"><img src="../assets/images/logo.svg" alt="Search / jeux de rôle"></a>
        <nav>
            <a href="#"><input class="btn" type="button" value="Connexion"></a>
            <a href="inscription.html"><input class="btn" type="button" value="Inscription"></a>
        </nav>
    </header>
</body>