h1{
    margin-bottom: 30px;
    font-size: 25px;
}
main > input{
    margin-bottom: 30px;
    border-radius: 8px;
    border-color: #781CA3;
    width: 90vw;
    padding: 5px;
    max-width: 800px;
}
h2{
    font-size: 20px;
    margin-bottom: 5px;
}
ul{
    display: flex;
    justify-content: space-between;
    min-height: 145px;
    margin-bottom: 20px;
}
li{
    width: 30vw;
    background-color: #FC8400;
    border-radius: 5px;
    height: 145px;
}
ul li:not(:first-child){
    margin-left: 0px;
}
li img{
    width: 100%;
    height: 105px;
    border-radius: 5px 5px 0px 0px;
}
li i{
    padding: 2.5vw;
    font-size: x-small;
}
li p{
    color: #fff;
    font-size: 10px;
    align-self: center;
    font-weight: bolder;
    margin-right: 5px;
}
li section{
    display: flex;
    align-items: center;
    height: 40px;
}
@media screen and (min-width: 700px ){
    li {
        height: 335px;
    }
    li img{
        height: 210px;
    }
    li section{
        height: 115px;
    }
    main p{
        font-size: 25px;
    }
    li i{
        padding: 30px;
        font-size: x-large;
    }
}