*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-width: 100%;
}
body{
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > *{
    width: 95vw;
}
header form input{
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #B22621 2px solid;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 30px;
    padding-right: 10px;
}
header img{
    width: 45vw;
    max-width: 320px;
    margin-left: 2.5vw;
}
header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}
.btn, .submit{
    border: 1px #EE412D solid;
    border-radius: 5px;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
header nav > :last-child{
    border-color: #000;
    background-color: #EE412D;
    color: #fff;
}
body input[type="checkbox"]{
    width: 35px;
}
main h1{
    color: #B22621;
    text-align: center;
}
main h2{
    color: #B22621;
}
@media screen and (min-width: 700px) {
    .btn, .submit{
        padding: 15px;
        border-width: 3px;
        font-size: x-large;
    }
    .submit{
        height: 60px;
    }
    input{
        height: 30px;
        font-size: 20px;
        border-width: 3px;
    }
    main h1{
        font-size: 45px;
    }
    main h2{
        font-size: 30px;
    }
    body{
        padding-bottom: 50px;
    }
    body input[type="checkbox"]{
        width: 20px;
    }
}