body{
    display: flex;
    flex-direction: column;
}
main{
    max-width: 500px;
    width: 100%;
    align-self: center;
}
h1{
    margin-bottom: 30px;
    font-size: 25px;
}
ul{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px #000 solid;
    padding: 25px;
}
body > ul input{
    border-radius: 8px;
    border-color: #781CA3;
    padding: 5px;
}
ul p:not(:first-of-type){
    margin-top: 20px;
}
ul > p{
    margin-bottom: 5px;
    font-size: 14px;
}
ul > :last-child{
    background-color: #EE412D;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: content;
    align-self: center;
    margin-top: 10px;
}
ul a{
    margin: 4px;
    color: #e00000;
    text-decoration: none;
    font-size: 10px;
}
ul section{
    display: flex;
    margin-top: 10px;
}
ul section p{
    margin-left: 10px;
    font-size: 12px;
}
@media screen and (min-width: 700px ){
    main p{
        font-size: 25px;
    }
    input{
        height: 30px;
        font-size: 20px;
    }
    h1{
        font-size: 45px;
    }
    main a{
        font-size: medium;
    }
    main ul section p{
        font-size: x-large;
    }
}