main{
    margin-left: 10vw;
    margin-right: 10vw;
}
h1{
    margin-bottom: 30px;
    font-size: 25px;
}
ul{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px #000 solid;
    padding: 25px;
}
body > ul input{
    border-radius: 8px;
    border-color: #781CA3;
    padding: 5px;
}
ul p:not(:first-of-type){
    margin-top: 20px;
}
ul > p{
    margin-bottom: 5px;
    font-size: 14px;
}
ul > a input{
    background-color: #EE412D;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: content;
}
ul section{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
ul section p{
    margin-left: 10px;
    font-size: 12px;
}
ul > :last-child{
    width: fit-content;
    margin-top: 10px;
    align-self: center;
}