h1{
    margin-bottom: 30px;
    font-size: 25px;
}
ul{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px #000 solid;
    padding: 10px;
    margin-bottom: 10px;
}
ul > :first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 95px;
    border: 1px #000 solid;
}
ul > :first-child:hover{
    cursor: pointer;
}
ul > :first-child i{
    font-size: 90px;
}
ul img{
    display: none;
    width: 90px;
    height: 90px;
}
main > p{
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
    padding: 5px;
    align-self: flex-start;
    margin-bottom: 50px;
}
main > p:hover{
    cursor: pointer;
}
#caret-down{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}
#description {
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    height: 22vh;
}
.submit{
    align-self: flex-start;
}
@media screen and (min-width: 700px ){
    #description {
        font-size: xx-large;
    }
    label{
        font-size: 40px;
    }
    main > p{
        font-size: xx-large;
        padding: 10px;
    }
    ul > :first-child i{
        font-size: 180px;
    }
    ul > :first-child{
        width: 190px;
        height: 190px;
    }
    #description {
        border-radius: 5px;
        margin: 10px 0px 10px 0px;
        height: 32vh;
    }
}