main{
    margin-left: 10vw;
    margin-right: 10vw;
}
h1{
    margin-bottom: 30px;
    font-size: 25px;
}
ul{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px #000 solid;
    padding: 25px;
}
main > ul input{
    border-radius: 8px;
    border-color: #781CA3;
    padding: 5px;
}
ul p:not(:first-of-type){
    margin-top: 20px;
}
ul > p{
    margin-bottom: 5px;
    font-size: 14px;
}
ul > :last-child{
    background-color: #EE412D;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: content;
    align-self: center;
    margin-top: 10px;
}
ul a{
    margin: 4px;
    color: #e00000;
    text-decoration: none;
    font-size: 10px;
}
ul div{
    display: flex;
    margin-top: 10px;
}
ul div p{
    margin-left: 10px;
    font-size: 12px;
}