h1{
    margin-bottom: 30px;
    font-size: 25px;
}
ul{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px #000 solid;
    padding: 25px;
}
.btn{
    width: 100px;
}