*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
    background-color: #CCCCCC;
}
body > *{
    margin-left: 2.5%;
    margin-right: 2.5%;
}
main > input{
    margin-bottom: 30px;
    border-radius: 8px;
    border-color: #781CA3;
    width: 90vw;
    padding: 5px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #000 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 30px;
    padding-right: 10px;
}
header img{
    width: 40vw;
}
header input{
    border-color: #EE412D;
    border-radius: 5px;
    padding: 5px;
}
header a:last-child input{
    border-color: #000;
    background-color: #EE412D;
    color: #fff;
}
@media screen and (min-width: 700px) {
    .btn{
        height: 50px;
    }
    input{
        height: 30px;
        font-size: 20px;
    }
}